html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  /*display: flex;*/
  -ms-flex-align: center;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

nav{
	position:fixed!important;
	width:100%;
	margin-top:-70px;
	z-index: 100;
}

#paginator_input{
	max-width:2.5em;
}

#paginator_form h4, #paginator_form button{
	display:inline-block;
	margin-bottom: 12px;
}

#paginator_form button{
	margin-left: 1em;
}